Repository kashedin/automate-endtoend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @devops-team, @platform-team, @security-team, @database-team, @technical-writers

feat: Migrate to proper modular Terraform architecture
  .github/workflows/deploy-3tier.yml
  .github/workflows/deploy-cloudfront-enhancement.yml
  .github/workflows/terraform-validate.yml
  MODULAR_ARCHITECTURE_MIGRATION.md
  notneeded/sandbox-3tier/README.md
  notneeded/sandbox-3tier/main.tf
  notneeded/sandbox-3tier/user_data/app_user_data.sh
  notneeded/sandbox-3tier/user_data/web_user_data.sh
Owners: @devops-team, @security-team, @technical-writers

sandboxcompliant
  terraform/environments/dev/main.tf
  terraform/environments/prod/main.tf
  terraform/environments/prod/terraform.tfvars
  terraform/modules/security/variables.tf
Owners: @devops-team, @platform-team, @security-team

trigger: Validate CloudFront CDN infrastructure checks
  VALIDATION_TRIGGER.md
Owners: @devops-team

fix: Format terraform.tfvars file
  terraform/environments/prod/terraform.tfvars
Owners: @devops-team, @platform-team, @security-team

fix: Make architecture compliant with AWS Academy Sandbox constraints
  SANDBOX_COMPLIANCE_FIXES.md
  terraform/modules/compute/main.tf
  terraform/modules/database/main.tf
  terraform/modules/networking/main.tf
  terraform/modules/security/main.tf
  terraform/modules/security/outputs.tf
  terraform/modules/storage/main.tf
Owners: @devops-team, @platform-team, @database-team, @security-team

fix: Remove unused aws_caller_identity data source from networking module
  terraform/modules/networking/main.tf
Owners: @devops-team, @platform-team

fix: Remove unused aws_caller_identity from security module
  terraform/modules/security/main.tf
Owners: @devops-team, @security-team

fix: Remove unused enable_cross_region_replication variable
  terraform/modules/storage/variables.tf
Owners: @devops-team, @platform-team

lastcheck
  FINAL_VALIDATION_STATUS.md
  GITHUB_MANUAL_DEPLOYMENT_GUIDE.md
  VALIDATION_SUMMARY.md
  tflint.txt
Owners: @devops-team

fix: Remove KMS key creation for sandbox compliance
  terraform/modules/monitoring/main.tf
  terraform/modules/storage/main.tf
Owners: @devops-team, @platform-team

fix: Remove S3 encryption entirely for maximum sandbox compliance
  terraform/modules/storage/main.tf
Owners: @devops-team, @platform-team

feat: Add comprehensive infrastructure cleanup scripts and workflows
  .github/workflows/cleanup-infrastructure.yml
  CLEANUP_GUIDE.md
  scripts/cleanup-all-resources.ps1
  scripts/cleanup-all-resources.sh
Owners: @devops-team, @security-team

feat: Add comprehensive AWS CLI cleanup commands and scripts
  AWS_CLI_CLEANUP_COMMANDS.md
  scripts/aws-cli-cleanup.ps1
  scripts/aws-cli-cleanup.sh
Owners: @devops-team

docs: Update TFLint status to reflect fix - Document resolution of unused aws_caller_identity data source - Mark TFLint validation as ready to pass - Prepare for clean validation workflow run
  tflint.txt
Owners: @devops-team

delres
  delres.txt
  temp-dist-config-None.json
Owners: @devops-team

docs: Update TFLint status to reflect storage module output fix - Document resolution of missing access_logs_bucket_name output - Mark validation as ready to pass - Provide summary of what was fixed
  tflint.txt
Owners: @devops-team

Update infrastructure configuration and add sandbox compliance documentation
  refreshproject/sandbox.txt
  terraform/environments/dev/main.tf
  terraform/environments/dev/terraform.tfvars
Owners: @devops-team, @platform-team

fix: Improve infrastructure security and compliance
  terraform/modules/database/main.tf
  terraform/modules/storage/main.tf
Owners: @devops-team, @database-team, @platform-team

fix: Resolve RDS password validation and resource conflicts
  terraform/modules/security/main.tf
Owners: @devops-team, @security-team

Fix: Implement sandbox-compatible S3 configuration
  terraform/modules/storage/main.tf
Owners: @devops-team, @platform-team

Fix: Comprehensive sandbox compatibility improvements
  terraform/modules/cdn/main.tf
  terraform/modules/compute/main.tf
  terraform/modules/database/main.tf
  terraform/modules/monitoring/main.tf
  terraform/modules/networking/main.tf
  terraform/modules/storage/main.tf
  terraform/modules/storage/outputs.tf
Owners: @devops-team, @platform-team, @database-team

.github/CODEOWNERS:

# Code Owners for Automated Cloud Infrastructure

# Global owners - these users will be requested for review on all PRs
* @devops-team

# Terraform infrastructure code
terraform/ @devops-team @platform-team

# Terraform modules - require additional security review
terraform/modules/security/ @devops-team @security-team
terraform/modules/database/ @devops-team @database-team

# GitHub workflows and CI/CD
.github/ @devops-team @platform-team

# Documentation
docs/ @devops-team @technical-writers
README.md @devops-team @technical-writers

# Configuration files
*.yml @devops-team
*.yaml @devops-team
*.json @devops-team

# Security-sensitive files
.github/workflows/ @devops-team @security-team
terraform/shared/ @devops-team @security-team

# Environment-specific configurations
terraform/environments/prod/ @devops-team @platform-team @security-team
