Repository kashedin/automate-endtoend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @devops-team, @platform-team, @security-team, @database-team, @technical-writers

.github/CODEOWNERS:

# Code Owners for Automated Cloud Infrastructure

# Global owners - these users will be requested for review on all PRs
* @devops-team

# Terraform infrastructure code
terraform/ @devops-team @platform-team

# Terraform modules - require additional security review
terraform/modules/security/ @devops-team @security-team
terraform/modules/database/ @devops-team @database-team

# GitHub workflows and CI/CD
.github/ @devops-team @platform-team

# Documentation
docs/ @devops-team @technical-writers
README.md @devops-team @technical-writers

# Configuration files
*.yml @devops-team
*.yaml @devops-team
*.json @devops-team

# Security-sensitive files
.github/workflows/ @devops-team @security-team
terraform/shared/ @devops-team @security-team

# Environment-specific configurations
terraform/environments/prod/ @devops-team @platform-team @security-team

Add GitHub setup automation and backend infrastructure
  .github/workflows/test-aws-access.yml
  scripts/github-repository-settings.md
  scripts/setup-github-secrets.md
  terraform/backend-setup/README.md
  terraform/backend-setup/main.tf
  terraform/backend-setup/outputs.tf
  terraform/backend-setup/variables.tf
  terraform/backend.hcl.example
  terraform/shared/backend.tf
Owners: @devops-team, @security-team, @technical-writers, @platform-team

BACKEND INFRASTRUCTURE DEPLOYED!
  terraform/backend-setup/main.tf
  terraform/backend-setup/tfplan
Owners: @devops-team, @platform-team

Fix AWS test workflow - add secret validation
  .github/workflows/test-aws-access.yml
Owners: @devops-team, @security-team

Add GitHub automation scripts and testing guide
  scripts/configure-github-repo.ps1
  scripts/configure-github-repo.sh
  scripts/deploy-backend.ps1
  scripts/setup-github-secrets.md
  scripts/test-cicd-pipeline.md
Owners: @devops-team

Reached End of day.
  scripts/deploy-infrastructure.md
  scripts/run-terraform-plan.md
  scripts/setup-github-secrets.md
Owners: @devops-team

commit change
  lastsession.yaml
Owners: @devops-team

Add AWS credentials setup and deployment guides
  .github/workflows/test-aws-access.yml
  scripts/complete-deployment-guide.md
  scripts/github-secrets-setup-guide.md
  scripts/setup-aws-credentials.ps1
  terraform/backend-setup/outputs.tf
  terraform/backend-setup/variables.tf
Owners: @devops-team, @security-team, @platform-team

Final setup: Backend infrastructure and deployment instructions
  scripts/create-s3-backend.ps1
  scripts/final-setup-instructions.md
  terraform/backend-setup/main.tf
Owners: @devops-team, @platform-team

Remove hardcoded AWS credentials from documentation
  scripts/complete-deployment-guide.md
  scripts/create-s3-backend.ps1
  scripts/final-setup-instructions.md
  scripts/github-secrets-setup-guide.md
  scripts/setup-aws-credentials.ps1
  scripts/update-github-secrets.md
Owners: @devops-team

Add credentials update instructions
  CREDENTIALS_UPDATE.md
  lastsession.yaml
Owners: @devops-team

Add bypass instructions for GitHub push protection
  BYPASS_PUSH_PROTECTION.md
  CREDENTIALS_UPDATE.md
Owners: @devops-team

Add complete force push implementation guide
  FORCE_PUSH_STEPS.md
Owners: @devops-team

push Testpush
  Testpush.txt
Owners: @devops-team

Trigger auto deploy: Infrastructure deployment
  DEPLOY_TRIGGER.md
Owners: @devops-team

Fix branch mismatch: Update workflows from main to master
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-plan.yml
  .github/workflows/terraform-validate.yml
  DEPLOY_TRIGGER.md
  terraform/environments/dev/main.tf
Owners: @devops-team, @security-team, @platform-team

Fix GitHub Actions workflow validation errors
  .github/workflows/terraform-apply.yml
Owners: @devops-team, @security-team

Fix Terraform syntax error and add simplified deployment workflow
  .github/workflows/simple-deploy.yml
  terraform/modules/compute/main.tf
Owners: @devops-team, @security-team, @platform-team

Fix deployment errors: Add provider constraints and security configurations
  deployerror1.txt
  terraform/modules/compute/main.tf
  terraform/modules/compute/variables.tf
  terraform/modules/database/main.tf
  terraform/modules/monitoring/main.tf
  terraform/modules/networking/main.tf
  terraform/modules/security/main.tf
  terraform/modules/storage/main.tf
Owners: @devops-team, @platform-team, @database-team, @security-team

Fix deployment issues: Remove Slack notifications and update region
  .github/workflows/terraform-apply.yml
  UPDATE_GITHUB_SECRETS.md
  terraform/backend-setup/variables.tf
  terraform/shared/providers.tf
Owners: @devops-team, @security-team, @platform-team

Fix critical syntax error and remaining security issues
  deployerror1.txt
  terraform/backend-setup/main.tf
  terraform/environments/dev/terraform.tfvars
  terraform/environments/prod/terraform.tfvars
  terraform/modules/compute/variables.tf
Owners: @devops-team, @platform-team, @security-team

Fix remaining security issues from deployerror1.txt
  deployerror1.txt
  terraform/backend-setup/main.tf
  terraform/environments/prod/terraform.tfvars
  terraform/modules/compute/main.tf
  terraform/modules/compute/variables.tf
  terraform/modules/networking/main.tf
  terraform/modules/security/main.tf
Owners: @devops-team, @platform-team, @security-team

Fix: Resolve Terraform syntax error in compute module variables
  terraform/modules/compute/variables.tf
Owners: @devops-team, @platform-team

Fix: Resolve Terraform syntax error in monitoring module
  terraform/modules/monitoring/main.tf
Owners: @devops-team, @platform-team

Fix: Resolve multiple Terraform validation issues
  TRIGGER_DEPLOY.md
  deployerror1.txt
  terraform/environments/dev/terraform.tfvars
  terraform/environments/prod/terraform.tfvars
  terraform/modules/monitoring/main.tf
Owners: @devops-team, @platform-team, @security-team

Fix: Resolve security group circular dependency
  deployerror1.txt
  terraform/modules/security/main.tf
Owners: @devops-team, @security-team

Deploy: Trigger infrastructure deployment
  .kiro/settings/mcp.json
  DEPLOY_NOW.md
Owners: @devops-team

Fix: Ensure all AWS services deploy to us-west-2 region
  PRE_DEPLOYMENT_VALIDATION.md
  terraform/environments/dev/variables.tf
  terraform/environments/prod/variables.tf
Owners: @devops-team, @platform-team, @security-team

Fix: Resolve critical validation issues
  scripts/create-backend-us-west-2.ps1
  terraform/backend-setup/main.tf
  terraform/backend-setup/outputs.tf
  terraform/environments/dev/main.tf
  terraform/environments/dev/terraform.tfvars
  terraform/environments/dev/variables.tf
  terraform/environments/prod/main.tf
  terraform/environments/prod/terraform.tfvars
  terraform/environments/prod/variables.tf
  terraform/modules/compute/main.tf
  terraform/modules/database/main.tf
  terraform/modules/database/variables.tf
  terraform/modules/monitoring/main.tf
  terraform/modules/monitoring/outputs.tf
  terraform/modules/monitoring/variables.tf
  terraform/modules/networking/main.tf
  terraform/modules/storage/main.tf
  terraform/modules/storage/variables.tf
  terraform/shared/backend.tf
  terraform/shared/providers.tf
Owners: @devops-team, @platform-team, @security-team, @database-team

Fix: Add required_version to all Terraform modules
  terraform/modules/database/main.tf
  terraform/modules/monitoring/main.tf
  terraform/modules/networking/main.tf
  terraform/modules/security/main.tf
  terraform/modules/storage/main.tf
Owners: @devops-team, @database-team, @platform-team, @security-team

credentialupdate
  .github/workflows/terraform-apply.yml
  githuberror.txt
Owners: @devops-team, @security-team

codecitations
  Code_Citations.md
Owners: @devops-team

prsuccessissue
  .github/workflows/terraform-validate.yml
Owners: @devops-team, @security-team

prevent404
  prevent404.py
Owners: @devops-team

alarmremoval
  prevent404.py
Owners: @devops-team

alarminput
  terraform/modules/monitoring/main.tf
Owners: @devops-team, @platform-team

addedmeasures
  terraform/modules/security/main.tf
Owners: @devops-team, @security-team

securitygroupfix
  terraform/modules/security/main.tf
Owners: @devops-team, @security-team

storagefix
  terraform/modules/storage/variables.tf
Owners: @devops-team, @platform-team

storagechange
  terraform/modules/storage/main.tf
  terraform/modules/storage/variables.tf
Owners: @devops-team, @platform-team

lastchange
  terraform/modules/storage/main.tf
Owners: @devops-team, @platform-team
