Repository kashedin/automate-endtoend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @devops-team, @platform-team, @security-team, @database-team, @technical-writers

.github/CODEOWNERS:

# Code Owners for Automated Cloud Infrastructure

# Global owners - these users will be requested for review on all PRs
* @devops-team

# Terraform infrastructure code
terraform/ @devops-team @platform-team

# Terraform modules - require additional security review
terraform/modules/security/ @devops-team @security-team
terraform/modules/database/ @devops-team @database-team

# GitHub workflows and CI/CD
.github/ @devops-team @platform-team

# Documentation
docs/ @devops-team @technical-writers
README.md @devops-team @technical-writers

# Configuration files
*.yml @devops-team
*.yaml @devops-team
*.json @devops-team

# Security-sensitive files
.github/workflows/ @devops-team @security-team
terraform/shared/ @devops-team @security-team

# Environment-specific configurations
terraform/environments/prod/ @devops-team @platform-team @security-team

Fix: Comprehensive infrastructure fixes
  terraform/backend-setup/main.tf
  terraform/modules/compute/main.tf
  terraform/modules/networking/main.tf
  terraform/modules/security/main.tf
  terraform/modules/storage/main.tf
  terraform/modules/storage/outputs.tf
  terraform/modules/storage/variables.tf
Owners: @devops-team, @platform-team, @security-team

Security: Add KMS encryption and fix remaining compliance issues
  terraform/modules/monitoring/main.tf
  terraform/modules/security/variables.tf
  terraform/modules/storage/variables.tf
Owners: @devops-team, @platform-team, @security-team

Fix: Resolve GitHub Actions workflow errors
  deployerror1.txt
  terraform/modules/security/main.tf
  terraform/modules/storage/main.tf
Owners: @devops-team, @security-team, @platform-team

Security: Fix Checkov compliance issues
  terraform/environments/dev/terraform.tfvars
  terraform/modules/database/main.tf
  terraform/modules/security/main.tf
  terraform/modules/storage/main.tf
Owners: @devops-team, @platform-team, @database-team, @security-team

Trigger: GitHub Actions validation check
  VALIDATION_TRIGGER.md
Owners: @devops-team

Implement comprehensive security improvements
  DEPLOYMENT_READY.md
  SECURITY_IMPROVEMENTS.md
  terraform/backend-setup/main.tf
  terraform/modules/compute/main.tf
  terraform/modules/database/main.tf
  terraform/modules/networking/main.tf
  terraform/modules/security/main.tf
  terraform/modules/storage/main.tf
  terraform/modules/storage/variables.tf
Owners: @devops-team, @platform-team, @database-team, @security-team

Fix Terraform formatting in storage variables
  terraform/modules/storage/variables.tf
Owners: @devops-team, @platform-team

Add simplified deployment for AWS Academy constraints
  .github/workflows/simple-deploy-basic.yml
  CREDENTIAL_TROUBLESHOOTING.md
  DEPLOYMENT_INSTRUCTIONS.md
  DEPLOY_NOW.md
  GITHUB_ACTIONS_SUCCESS.md
  PROJECT_COMPLETION_ROADMAP.md
  setup-aws-credentials.ps1
  terraform/backend-setup/main.tf
  terraform/environments/dev/main-simplified.tf
  terraform/environments/dev/main.tf
  terraform/environments/prod/main.tf
Owners: @devops-team, @security-team, @platform-team

Fix simplified deployment configuration conflicts
  .github/workflows/simple-deploy-basic.yml
  terraform/environments/dev/main-simplified.tf
Owners: @devops-team, @security-team, @platform-team

Add ultra-simplified basic deployment
  .github/workflows/basic-deploy.yml
  terraform/basic-deploy/main.tf
Owners: @devops-team, @security-team, @platform-team

Remove S3 bucket due to AWS Academy restrictions - networking only
  .github/workflows/basic-deploy.yml
  terraform/basic-deploy/main.tf
Owners: @devops-team, @security-team, @platform-team

Use new state key to avoid S3 bucket state conflicts
  .github/workflows/basic-deploy.yml
Owners: @devops-team, @security-team

Add complete 3-tier architecture with ALB, ASG, RDS, and proper network segmentation
  .github/workflows/deploy-3tier.yml
  terraform/complete-3tier/main.tf
  terraform/complete-3tier/user_data/app_user_data.sh
  terraform/complete-3tier/user_data/web_user_data.sh
Owners: @devops-team, @security-team, @platform-team

Fix template literal issues in app user data script
  terraform/complete-3tier/user_data/app_user_data.sh
Owners: @devops-team, @platform-team

Fix IAM instance profile name for AWS Academy
  terraform/complete-3tier/main.tf
Owners: @devops-team, @platform-team

Format Terraform configuration for 3-tier deployment
  terraform/complete-3tier/main.tf
Owners: @devops-team, @platform-team

Use local state for 3-tier deployment due to AWS Academy S3 restrictions
  .github/workflows/deploy-3tier.yml
  terraform/complete-3tier/main.tf
  terraform/simple-backend/main.tf
Owners: @devops-team, @security-team, @platform-team

Fix 3-tier architecture: resolve RDS monitoring issue and add app tier load balancer
  terraform/complete-3tier/main.tf
  terraform/complete-3tier/user_data/web_user_data.sh
Owners: @devops-team, @platform-team

Add random suffixes to avoid resource name conflicts
  terraform/complete-3tier/main.tf
Owners: @devops-team, @platform-team

Optimize for AWS Academy limits: single NAT Gateway and unique ASG names
  terraform/complete-3tier/main.tf
Owners: @devops-team, @platform-team

Create simplified 3-tier architecture for AWS Academy constraints
  .github/workflows/deploy-3tier.yml
  terraform/complete-3tier/main-simple.tf
Owners: @devops-team, @security-team, @platform-team

Fix workflow to properly replace main.tf with simplified version
  .github/workflows/deploy-3tier.yml
Owners: @devops-team, @security-team

Fix file replacement in workflow - use rm instead of mv
  .github/workflows/deploy-3tier.yml
Owners: @devops-team, @security-team

Create separate simple-3tier directory to avoid file conflicts
  .github/workflows/deploy-3tier.yml
  terraform/simple-3tier/main.tf
  terraform/simple-3tier/user_data/app_user_data.sh
  terraform/simple-3tier/user_data/web_user_data.sh
Owners: @devops-team, @security-team, @platform-team

3tiercheck
  .github/workflows/push-deploy-3tier.yml
  sandbox.txt
  terraform/sandbox-3tier/README.md
  terraform/sandbox-3tier/main.tf
  terraform/sandbox-3tier/user_data/app_user_data.sh
  terraform/sandbox-3tier/user_data/web_user_data.sh
Owners: @devops-team, @security-team, @technical-writers, @platform-team

Add AWS Academy Sandbox-Optimized 3-Tier Architecture (Validation Mode)
  .github/workflows/push-deploy-3tier.yml
Owners: @devops-team, @security-team

Fix validation issues and add missing user_data files
  terraform/sandbox-3tier/main.tf
Owners: @devops-team, @platform-team

Fix templatefile validation by using local values
  terraform/sandbox-3tier/main.tf
Owners: @devops-team, @platform-team

Fix YAML syntax error in simple-deploy-basic.yml
  .github/workflows/simple-deploy-basic.yml
Owners: @devops-team, @security-team

Simplify user_data to fix validation issues
  terraform/sandbox-3tier/main.tf
Owners: @devops-team, @platform-team

🚀 ENABLE DEPLOYMENT: Activate sandbox-optimized 3-tier architecture deployment
  .github/workflows/push-deploy-3tier.yml
Owners: @devops-team, @security-team

feat: Add CloudFront CDN enhancement with S3 failover and HTTPS-only access
  .github/workflows/deploy-cloudfront-enhancement.yml
  CLOUDFRONT_ENHANCEMENT.md
  IMPLEMENTATION_SUMMARY.md
  README.md
  scripts/test-cloudfront.ps1
  scripts/test-cloudfront.sh
  terraform/complete-3tier/main.tf
  terraform/modules/cdn/main.tf
  terraform/modules/cdn/outputs.tf
  terraform/modules/cdn/variables.tf
  terraform/modules/storage/main.tf
  terraform/modules/storage/outputs.tf
  terraform/modules/storage/variables.tf
  terraform/sandbox-3tier/main.tf
Owners: @devops-team, @security-team, @technical-writers, @platform-team

fix: Validate and format CloudFront CDN enhancement
  .kiro/settings/mcp.json
  terraform/modules/cdn/variables.tf
  terraform/sandbox-3tier/main.tf
Owners: @devops-team, @platform-team

fix: Resolve TFLint warnings and validation issues
  VALIDATION_FIXES.md
  terraform/complete-3tier/main.tf
  terraform/modules/cdn/main.tf
  tflint.txt
  validation.txt
Owners: @devops-team, @platform-team

fix: Resolve critical validation issues and integrate CDN module
  VALIDATION_ISSUES_RESOLVED.md
  terraform/environments/dev/main-simplified.tf
  terraform/environments/dev/main.tf
  terraform/environments/prod/main.tf
  validation.txt
Owners: @devops-team, @platform-team, @security-team

feat: Add comprehensive CloudFront deployment summary
  DEPLOYMENT_READY_SUMMARY.md
Owners: @devops-team

feat: Complete comprehensive validation and deployment readiness
  VALIDATION_COMPLETE.md
  terraform/modules/storage/main.tf
  terraform/modules/storage/variables.tf
  terraform/sandbox-3tier/main.tf
Owners: @devops-team, @platform-team

fix: Resolve TFLint unused variable warning
  TFLINT_ISSUE_RESOLVED.md
  terraform/environments/dev/main.tf
  terraform/environments/prod/main.tf
  terraform/modules/storage/variables.tf
  tflint.txt
Owners: @devops-team, @platform-team, @security-team

feat: Add GitHub Actions deployment guide for CloudFront
  DEPLOY_CLOUDFRONT_NOW.md
Owners: @devops-team

feat: Add direct deployment trigger for CloudFront
  TRIGGER_DEPLOYMENT.md
Owners: @devops-team
